<style>
    .left{
        float: left;
        display: inline;
        margin-left: 10px;
    }
    .right{
        float: right;
        display: inline;
        color: rgb(255, 255, 255);
        margin-right: 10px;
    }
</style>

<footer>
    <div style="margin-top:-10px;">
        <p class="left">2022 SeSaC Project all rights reserved</p>
        <p class="right">About Us</p>
    </div>
</footer>
<!-- <div>
    <div>
        <h6 style="margin-top:-10px;">
            <div class="left">2022 SeSaC Project all rights reserved</div>
            <div class="right">About Us</div>
        </h6> 
    </div>
</div> -->